<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}ConstructPro{% endblock %}
    </title>

    <!-- Bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- CSS de ConstructPro -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- ENCABEZADO -->

    <header>

        <h1>ConstructPro</h1>

        <p>
            Sistema de gestión y control de proyectos de construcción civil
        </p>

    </header>


    <!-- MENÚ REUTILIZABLE -->

    {% include "components/navbar.html" %}


    <!-- CONTENIDO DE LAS PÁGINAS -->

    <main class="container">

        {% block content %}

        {% endblock %}

    </main>


    <!-- PIE DE PÁGINA -->

    <footer>

        <p>
            <strong>Desarrollado por Geovanni Correa</strong>
        </p>

        <p>
            Desarrollo de Aplicaciones Web
        </p>

        <p>
            2026
        </p>

    </footer>


    <!-- Bootstrap JavaScript -->

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>


    <!-- JavaScript de ConstructPro -->

    <script
        src="{{ url_for('static', filename='js/script.js') }}">
    </script>

</body>

</html>